
@{
    ViewBag.Title = "Admin";
}

<h2>Admin Control Panel</h2>

<p class="btn btn-default col-lg-offset-4">@Html.ActionLink("Manage teachers", "Index", "Teacher")</p>
<p class="btn btn-default">@Html.ActionLink("Manage subjects", "Index", "Subject")</p>